config.rb
*.markdown
*.taskpaper
*.html
*.pdf
tasks.rb
databases.json
results.json
databases.rb
.DS_Store
.bundle
vendor
db.json
subtasks.json
tasks_*.json
tasks.json
tmp/
data/
output/
output/*
.byebug_history
grouped_tasks.json
