<p>Choose a property to filter by:</p>
<p>(Only 'select' property is supported.)</p>
<ul>
  <% properties.each do |prop| %>
    <li>
      <a href="/config_filter?filter_property=<%= prop[:name] %>&filter_type=<%= prop[:type] %>">
        <%= prop[:name] %>
      </a>
    </li>
  <% end %>
</ul>
