<form action="/">
  <label for="parent_property_name">What is your parent task property name (e.g. 'Parent Task')?</label>
  <input type="text" id="parent_property_name" name="parent_property_name">
  <input type="submit" value="Submit">
</form>
