<p>Choose filters:</p>
<ul>
  <% filter_options.each do |filter_option| %>
    <li>
      <input type="checkbox" name="<%= filter_option['name'] %>" /> <%= filter_option['name'] %>
    </li>
  <% end %>
  <button id="multi-filter">Submit</a>
</ul>
<script>
  document.getElementById('multi-filter').addEventListener('click', function(e) {
    e.preventDefault();
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    var checked = [];
    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        checked.push(checkboxes[i].name);
      }
    }
    window.location.href = '/?chosen_multifilter_option_names=' + checked.join(',');
  });
</script>
