<ul>
  <% tasks.each do |task| %>
    <% title = task.dig('properties', 'Name', 'title', 0, 'plain_text') %>
    <% next if title.nil? %>
    <% title.strip! %>
    <% url = "#{NOTION_BASE_URL}#{title.tr(" ", "-")}-#{task['id'].tr("-", "")}" %>
    <li style="list-style: none">
      <input type="checkbox" onClick="location.href='/complete_task/<%= task['id'].tr("-", "") %>'">
      <a href="<%= url %>" target="_blank">
        <%= title %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/config_database">Configure</a>
